@model IEnumerable<CatalogItemDto>

@{
    ViewData["Title"] = "Add To Basket";
}

<form method="post">
    @if (Context.Request.Method == "POST")
    {
        if (ViewData["isAdded"] is not null && (bool)ViewData["isAdded"] ! == true)
        {
            <div style="display: flex; justify-content: space-between; align-items: center; margin-right: 10px;">
                <p style="color: green; font-size: 25px; margin: 0 auto;">Added</p>
                <a asp-controller="Basket" asp-action="Show">
                    <p style="color: deepskyblue; font-size: 25px; text-align: right; margin: 0;">
                        Show Basket
                    </p>
                </a>
            </div>
        }
        else
        {
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p style="color: red; font-size: 25px; margin: 0 auto;">Not Added</p>
            </div>
        }
    }
    else
    {
        <div style="display: flex; justify-content: flex-end; align-items: center; margin-right: 10px;">
            <a asp-controller="Basket" asp-action="Show">
                <p style="color: deepskyblue; font-size: 25px; text-align: right; margin: 0;">
                    Show Basket
                </p>
            </a>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" checked="true"/></th>
                <th scope="col">Id</th>
                <th scope="col">Cover</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Year</th>
                <th scope="col">Available Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="items" value='@Json.Serialize(new BasketItemDto { ItemId = item.Id, ItemName = item.Name, ItemPrice = item.Price, ItemPictureUrl = item.PictureUrl, ItemQuantity = 1 })' />
                    </td>
                    <td>
                        <strong>@item.Id</strong>
                    </td>
                    <td>
                        <img src="@item.PictureUrl" alt="@item.Name" width="50" height="50" />
                    </td>
                    <td>
                        <strong>@item.Name</strong>
                    </td>
                    <td>
                        @item.Price.ToString("c", CultureInfo.GetCultureInfo("en-US"))
                    </td>
                    <td>
                        @item.Year
                    </td>
                    <td>
                        @item.AvailableStock
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <input id="add-to-basket" type="submit" value="Add to Basket" class="btn btn-primary" disabled />

    <script>
        // Get the checkboxes and the "Add to Basket" button
        const checkboxes = document.querySelectorAll('input[name="items"]');
        const addToBasketButton = document.querySelector('#add-to-basket');

        // Add a listener for changes to the checkboxes
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', () => {
                // Check if any checkboxes are checked
                const isChecked = Array.from(checkboxes).some((checkbox) => checkbox.checked);

                // Update the disabled attribute of the "Add to Basket" button
                addToBasketButton.disabled = !isChecked;
            });
        });
    </script>

</form>