@model IEnumerable<BasketItemDto>

@{
    ViewData["Title"] = "Show Basket";
    int count = 0;
}
       
<div style="display: flex; justify-content: flex-end; align-items: center; margin-right: 10px;">        
    <a asp-controller="Basket" asp-action="Add">
        <p style="color: deepskyblue; font-size: 25px; text-align: right; margin: 0;">
            Add To Basket
        </p>
    </a>
</div>

<table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Cover</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
        @if (Model is not null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>@(++count)</strong>
                    </td>
                    <td>
                        <img src="@item.ItemPictureUrl" alt="@item.ItemName" width="50" height="50" />
                    </td>
                    <td>
                        <strong>@item.ItemName</strong>
                    </td>
                    <td>
                        @item.ItemPrice.ToString("c", CultureInfo.GetCultureInfo("en-US"))
                    </td>
                    <td>
                        @item.ItemQuantity
                    </td>
                </tr>
            }    
        }
        </tbody>
</table>

@if(Model is not null && Model.Count() > 0)
{
    <form asp-controller="Basket" asp-action="Empty" method="post">
    <input type="hidden" name="emptyBasket" value="true" />
    <button type="submit" style="background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;">Empty Basket</button>
    </form>    
} 